.userloginbuttoncenter {
  margin-top: 20px;
  text-align-last: center !important;
}

.login-box {
  background-color: var(--foggy-grey);
  margin: 1rem;
  overflow: auto;
  padding: 40px;
  text-align: left;
  width: 30rem;
}

@media only screen and (max-width: 992px) {
  .login-box {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .login-box {
    width: 90%;
  }
}
